.App {
  text-align: center;
}

.app3{
  border: 3px solid black;
  background-color: rgb(195, 245, 17);
  margin: 7px;
}

.Func{
  text-align: center;
  border: 3px solid black;
  background-color: rgb(240, 5, 5);
  margin: 7px;
}