.App {
  text-align: center;
}

*{
  font-family: 'Poppins', sans-serif;
  background-color: rgb(104, 104, 243);
  color: rgb(11, 6, 6);
  border-radius: 5px;
  color: white;
  /* text-align: center; */
  /* justify-content: center; */
}
label{
  display: inline-block;
  width: 120px;
}
input{
  color: black;
}
.Container{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 70px;

}
fieldset{
  margin: auto;
  /* background-color: blue; */
  padding-left: 80px;
  padding-top: 50px;
  padding-bottom: 60px;
  padding-right: 60px;
  border: 2px solid white;
}
.Branch{
  position: relative;
  right: 113px;
}
.degree{
  position: relative;
  right: 115px;
}
.average{
  position: relative;
  right: 140px;
}
.experience{
  position: relative;
  right: 140px;
}
.website{
  position: relative;
  right: 8px;
}
.sel{
  width: 200px;
  position: relative;
}
.Status{
  position: relative;
  right: 70px;
}
button{
  background-color: chartreuse;
  color: black;
  font-weight: bold;
  font-size: 17px;
}
.btn1{
  background-color: rgb(230, 6, 250);
  color: black;
  font-weight: bold;
  font-size: 17px;
}
.btn2{
  background-color: rgb(255, 0, 0);
  color: black;
  font-weight: bold;
  font-size: 17px;
}
.swap{
  background-color: rgb(248, 7, 196);
  color: rgb(15, 9, 9);
  font-weight: bold;
  font-size: 17px;
}




#userTable{
  display: flex;
  text-align: center;
  padding-left: 440px;
  /* border-style:ridge; */
  /* background-color: bisque; */
}


#avg{
  position: relative;
  right: 20px;
}
#ex{
  position: relative;
  right: 13px;
}
#we{
  display: inline;
  position: relative;
  right: 30px;
}
/* #Status{
  position: relative;
  right: ;
} */



#Uname{
  width: 330px;
  background-color: white;
}
#Iname{
  width: 330px;
  background-color: white;
}
#average{
  width: 50px;
  background-color: white;
}
select{
  background-color: white;
  color: black;
}
#exp{
  background-color: white;
  position: relative;
  width: 50px;
}
#web{
  background-color: white;
  width: 330px;
}

