.App {
  text-align: center;
}
*{
  font-family: 'poppins',sans-serif;
  font-weight: 600;
}
img{
  width: 1200px;
}
.collapse ul li{
  border-radius: 50px;
}
.navbar{
  background-color: rgb(154, 247, 62);
  border-radius: 30px;
}
h1{
  background-color: rgb(193, 185, 241);
  font-weight: 600;
  border-radius: 50px;
}