.App {
  text-align: center;
}

.object{
  border: 3px solid black;
  margin: 7px;
  background-color: antiquewhite;
}

.object ul li{
  list-style: none;
}
img{
  border-radius: 100px;
}

.parentFunc{
  text-align: center;
  border: 3px solid black;
  background-color: rgb(241, 151, 234);
  border-radius: 100px;
}

.childFunc{
  text-align: center;
  border: 3px solid black;
  background-color: rgb(12, 2, 9);
  color: white;
  border-radius: 100px;
}

.mainFunc{
  margin: 7px;
  text-align: center;
  border: 3px solid black;
  background-color: rgb(233, 247, 142);
}