*{
    font-family: 'poppins',sans-serif;
    border-radius: 5px;
}
label{
    display: inline-block;
    width: 100px;
}
.container{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    margin: auto;
    font-weight: 600;
}
.city{
    padding-left: 177px;
    position: relative;
    right: 90px;
}
fieldset{
    margin: auto;
    box-shadow: 0 0 70px rgb(255, 0, 170);
    border-radius: 20px;
    padding-bottom: 25px;
}
h2{
    position: relative;
    top: 20px;
    right: 150px;
    color: rgb(213, 147, 23);
}
button{
    width: 100px;
    position: relative;
    /* left: 100px; */
    background-color: rgb(250, 165, 165);
}






#street{
    width: 300px;
}
#add{
    position: relative;
    left: 53px;
    margin-top: 8px;
    width: 300px;
}
#city{
    width: 242px;
}
#state{
    width: 46px;
}
#Zip{
    width: 300px;
}
#country{
    width: 300px;
}